/* Mobile devices */
@media screen and (max-width: 576px){
    .nav-container, .banner-container{
        flex-direction: column;
        gap: 20px;
    }
    .nav-bar > ul{
        flex-direction: column;
    }

}

/* table like devices */
@media screen and (max-width: 1024px){
    .nav-container, .banner-container {
        flex-direction: column;
        gap: 50px;
    }
}
